<div id="contact" fxFlex="column" fxFlexAlign="center" style="margin-top: 5%;">
    <div>
        <mat-toolbar style="justify-content: center;background-color: #E6E6FA;">
            <p class="animated-text"> - CONTACT US -</p>

            <!-- <span class="Title">- CONTACT US -</span> -->
        </mat-toolbar>
    </div>
    <!-- [ngClass]="isMobileView ? 'column-layout' : 'row-layout'" -->
    <div class="flex">
        <div width="25%" fxLayout="row" fxLayoutAlign="center center">
            <div width="12%" fxLayout="row">
                <a href="https://maps.app.goo.gl/m9p2F2P98TxcRkVRA" target="_blank" rel="noopener noreferrer" style="color: #062549;">
                    <mat-icon matTooltip="click here to view location" style="color: #1f1d1f;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"> place</mat-icon>
                  </a>
              
            </div>
            
            <div width="12%" fxLayout="column" style="margin-left: 3%;">
                <span class="subtitle">Our Office Address</span>
                <span class="txt_cls">No.161/1E,GNT Road,Chinna Obulapuram,<br>Gummudipoondi,
                    Thiruvallur - 601 201.
                </span>
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div width="25%" fxLayout="row" fxLayoutAlign="center center">
            <div width="12%" fxLayout="row">
                <mat-icon style="color: #1f1d1f;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"> mail_outline</mat-icon>
            </div>
            <div width="12%" fxLayout="column" style="margin-left: 3%;">
                <span class="txt_cls">yasresy&#64;gmail.com<br>sureshsvs1982&#64;gmail.com<br>deviresy1995&#64;gmail.com</span>
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div width="25%" fxLayout="row" fxLayoutAlign="center center">
            <div width="12%" fxLayout="row">
                <mat-icon style="color: #1f1d1f;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"> phone</mat-icon>
            </div>
            <div width="12%" fxLayout="column" style="margin-left: 3%;">
                <span class="txt_cls">9952233425<br>9629521858
                </span>
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div width="25%" fxLayout="row" fxLayoutAlign="center center">
            <div width="12%" fxLayout="row">
                <mat-icon style="color: #1f1d1f;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);">account_balance</mat-icon>
            </div>
            <div width="12%" fxLayout="column" style="margin-left: 3%;">
                <span class="subtitle">GSTIN No</span>
                <span class="txt_cls">33GCMPS2247R1ZQ</span>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 5% !important;"></div>
</div>